<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <script src="https://www.echartsjs.com/examples/vendors/echarts/echarts.min.js?_v_=1578305236132"></script>
  <!--引入中国的地图数据js文件，引入后会自动注册地图名字和数据-->
  <script src="https://www.echartsjs.com/examples/vendors/echarts/map/js/china.js?_v_=1578305236132"></script>

  <title>全国二手房交易地图</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i,900" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="static/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Mamba - v2.0.1
  * Template URL: https://bootstrapmade.com/mamba-one-page-bootstrap-template-free/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>



  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">

      <div class="logo float-left">
        <h1 class="text-light"><a href="/"><span>HOUSE</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="static/assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>


    </div>
  </header><!-- End Header -->

   <!-- ======= Our Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="section-title">
          <h2>全国二手房交易地图</h2>
          <p>这是全国二手房交易的表格，请单击省份，进入该省主页</p>
            <p>个别省份没有数据，则均价为0，且没有设置主页</p>
        </div>

        <div class="row">
            <div id="myEcharts" style="width: 800px;height:600px;left: 15% !important;"></div>
            <script>
    //初始化echarts实例
    var myChart = echarts.init(document.getElementById('myEcharts'));
    // 指定图表的配置项和数据
    option = {
      tooltip: {
        trigger: 'item'
      },
      legend: {
        orient: 'vertical',
        left: 'left',
        data: ['中国二手房交易地图']
      },
      visualMap: {
                            min: 6000,
                            max: 60000,
                            text: ['High', 'Low'],
                            realtime: false,
                            calculable: true,
                            inRange: {
                                color: ['lightskyblue', 'blue', 'darkblue']
                            }
                        },
      toolbox: {
        show: true,
        orient: 'vertical',
        left: 'right',
        top: 'center',
        feature: {
          mark: { show: true },
          dataView: { show: true, readOnly: false },
          restore: { show: true },
          saveAsImage: { show: true }
        }
      },
      roamController: {
        show: true,
        left: 'right',
        mapTypeControl: {
          'china': true
        }
      },
      series: [
        {
          name: '成交均价(元/平米)',
          type: 'map',
          mapType: 'china',
          roam: false,
          label: {
            show: true,
            color: 'rgb(249, 249, 249)'
          },
          data: [
            {
              name: '北京',
              value: 62635,
              herf:"/Beijing"
                //url:"http://www.baidu.com"
            }, {
              name: '天津',
              value: Math.round(Math.random()*150)
            }, {
              name: '上海',
              value: 48363,
              herf:"/Shanghai"
            }, {
              name: '重庆',
              value: 13543,
              herf:"/Chongqing"
            }, {
              name: '河北',
              value: 9799.8,
                  herf:"/Hebei"
            }, {
              name: '河南',
              value: 7817.5,
                  herf:"/Henan"
            }, {
              name: '云南',
              value: 11420,
                  herf:"/Yunnan"
            }, {
              name: '辽宁',
              value: 5626,
                  herf:"/Liaoning"
            }, {
              name: '黑龙江',
              value: 8257,
                  herf:"/Heilongjiang"
            }, {
              name: '湖南',
              value: 8010.6,
                  herf:"/Hunan"
            }, {
              name: '安徽',
              value: 11772.5,
                  herf:"/Anhui"
            }, {
              name: '山东',
              value: 10536.8,
                  herf:"/Shandong"
            }, {
              name: '新疆',
              value: 0
            }, {
              name: '江苏',
              value: 16172.3,
                  herf:"/Jiangsu"
            }, {
              name: '浙江',
              value: 17556.5,
                  herf:"/Zhejiang"
            }, {
              name: '江西',
              value: 7734.5,
                  herf:"/Jiangxi"
            }, {
              name: '湖北',
              value: 11020,
                  herf:"/Hubei"
            }, {
              name: '广西',
              value: 8158,
                  herf:"/Guangxi"
            }, {
              name: '甘肃',
              value: 12044,
                  herf:"/Gansu"
            }, {
              name: '山西',
              value: 0
            }, {
              name: '内蒙古',
              value: 10303.5,
                  herf:"/Neimenggu"
            }, {
              name: '陕西',
              value: 5691,
                  herf:"/Shanxi"
            }, {
              name: '吉林',
              value: 6582,
                  herf:"/Jilinsheng"
            }, {
              name: '福建',
              value: 20439,
                  herf:"/Fujian"

            }, {
              name: '贵州',
              value: 8904,
                  herf:"/Guizhou"
            }, {
              name: '广东',
              value: 22251.5,
                  herf:"/Guangdong"
            }, {
              name: '青海',
              value: 0
            }, {
              name: '西藏',
              value: 0
            }, {
              name: '四川',
              value: 9870.25,
                  herf:"/Sichuan"
            }, {
              name: '宁夏',
              value: 5634,
                  herf:"/Ningxia"
            }, {
              name: '海南',
              value: 14764,
                  herf:"/Hainan"
            }, {
              name: '台湾',
              value: 0
            }, {
              name: '香港',
              value: 0
            }, {
              name: '澳门',
              value: 0
            }
          ]
        }
      ]
    };
    //使用指定的配置项和数据显示图表
    myChart.setOption(option);
    myChart.on('click',function (param) {
        window.open(param.data.herf);

    });

  </script>


        </div>

        <div class="row portfolio-container">




        </div>

      </div>
    </section><!-- End Our Portfolio Section -->





  <!-- ======= Footer ======= -->


  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>
  <script src="static/assets/vendor/jquery-sticky/jquery.sticky.js"></script>
  <script src="static/assets/vendor/venobox/venobox.min.js"></script>
  <script src="static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="static/assets/vendor/counterup/counterup.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>